*{
    margin: 0;
    padding: 0;
  }
  .hero{
    height: 100vh;
    background-color: RGB(30, 31, 33);
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  .title {
    font-size: 4rem;
    color: #ffffff;
    width: 100%;
    animation: animatemain 20s ease;
  }
  @keyframes animatemain{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
  
    }
    100%{
      opacity: 1;
    }
  }
  .title ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .cursor {
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .example-container div {
    background: white;
    border-radius: 30px;
    width: 150px;
    height: 150px;
  }
  
  .box2{
    height: 80vh;
    width: 57vw;
    position: absolute;
    bottom: -39rem;
    left: -35rem;
    background-color: rgba(255, 221, 0, 0.214);
    filter: blur(160px);
    border-radius: 50%;
    box-shadow: -18px -7rem 67px 40px  rgba(255, 242, 0, 0.353);
    animation: animatebox1 15s ease infinite;
  }
  .box1{
    height: 80vh;
    width: 57vw;
    position: absolute;
    bottom: -32rem;
    right: -35rem;
    background-color: rgba(255, 230, 0, 0.214);
    filter: blur(160px);
    border-radius: 50%;
    box-shadow: -18px -7rem 67px 40px rgba(255, 242, 0, 0.353);
    animation: animatebox 15s ease infinite;
  }
  @keyframes animatebox {
    0%,100%{
       /* transform: translate(17rem,-12rem); */
       scale: 1;
    }
    50%{
      transform: translate(-9rem,12rem);
      scale: 1.2;
    }
  }
  @keyframes animatebox1 {
    0%,100%{
       /* transform: translate(17rem,-12rem); */
       scale: 0.9;
    }
    50%{
      transform: translate(-9rem,12rem);
      scale: 0.7;
    }
  }
  
  nav{
    animation: animatenav 3s ease ;
  }
  @keyframes animatenav {
    0%{
    /* transform: translate(0rem,-5rem);    */
    opacity: 0;
    }
    100%{
      /* transform: translate(0rem,0rem); */
      opacity: 1;
    }
  }
  .movingbox{
    animation: animatebox2 5s ease ;
  }
  @keyframes animatebox2 {
    0%{
    /* transform: translate(0rem,-5rem);    */
    opacity: 0;
    }
    100%{
      /* transform: translate(0rem,0rem); */
      opacity: 1;
    }
  }
  .hide {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    /* z-index: 2; */
    background: rgba(40, 40, 40, 0.442);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
      
  .myDIV:hover + .hide {
    display: block;
  }
  .myDIV{
        position: absolute;
        z-index: 2;
        right: 5rem;
        font-size: 1.7rem;
        width: 7.5rem;
        left: 14.3rem;
        bottom: 8rem;
    /* border-bottom: 2px solid white; */
  }
  .myDIV hr{
    animation: myDIV_animation 3.5s ease infinite;
    background-color: #ffffff;
    border-radius: 20px;
  }
  @keyframes myDIV_animation {
    0%,100%{
      width:0%;
    }
    50%{
      width: 100%;
    }
  }
  .about{
    height: 50vh;
    width: 50vw;
    background-color:RGB(21, 19, 22);
    color: #ffffff;
    position: absolute;
    top: 27%;
    left: 27%;
    border-radius: 50px;
    animation: animateabout 1s linear;
  }
  @keyframes animateabout{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .about span{
  margin-left: 15rem;
  }
  .info-text{
    font-size: 1.2rem;
    margin-left: 50px;
    width: 70%;
    text-align: left;
    margin-top: 30px;
  }
  .main_content{
    width: fit-content;
    margin-top: 50px ;
    margin-left: 3.5em;
  }
  .main_content span{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  p{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
  }
  .main_content .name{
    font-size: 4.5rem;
    color: #ffffff;
  
  }
  .main_content .name2{
    font-size: 3.5rem;
    color: #ffffffbe;
  }
  h3 {
    color: rgba(255, 255, 255, 0.677);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  .message {
    /* background-color: yellow; */
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 60px;
    animation: openclose 9s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 440px;
    }
    30% {
      top: 0.2rem;
      width: 440px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -3rem;
      
    }
    48% {
      top: -3rem;
      width: 350px;
    }
    62% {
      top: -3rem;
      width: 350px;
    }
    66% {
      top: -3rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -6rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -6rem;
      width: 400px;
    }
    95% {
      top: -6rem;
      width: 400px;
    }
    98% {
      top: -6rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
  .contact {
  position: relative;
  width: 50px;
  text-align: center;
  height: 100vh;
  bottom: 7rem;
  left: 1rem;
  animation: contactanimation 3s ease-in-out ;
  }
  .contact hr{
    transform: rotate(90deg);
    position: absolute;
    width: 14rem;
    height: 1px;
    top: 16rem;
    left: -87px;
    background-color: #fff;
  }
  .contact ul{
    list-style: none;
  }
  .contact ul li{
    transition: 1s ease;
  }
  .contact ul li:hover{
    transform: translateY(-10px);
  }
  .contact img{
    scale: 0.6;
  }
  @keyframes contactanimation{
    from{
      transform: translateY(500px);
    }
    to{
      transform: translateY(0px);
  
    }
  }